
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white !important;
 
}

body{
    min-height: 100vh;
    background-color: #1f2d3b;
    color: white !important;

}

a{
    text-decoration: none;
    color: inherit;
}

hr{
    border: none;
    height: 1px;
    background-color: #a9a9a9;
}

.app-component{
    display: flex;
}