.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form{
    gap: 20px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-img-upload{
    width: 120px;
}

.add-product-name, .add-product-description{
    width: max(40%,280px);

}

.add-product-name input, .add-product-description textarea{
    padding: 10px;
}

.add-category-price{
    display: flex;
    gap: 30px;
}

.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}

.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

p{
    color: white;
}

.add-category select{
    color: black;
}
.add-category select option{
    color: black;
}
