.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: #07223d;
}

.navbar .logo{
    width: max(10%, 80px);
}

.navbar .profile{
    width: 40px;
}

.admin-title{
    color: white;
    font-size: 1rem;
}

.logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #ff0000;
  }
  .img-btn{
    display: flex;
    gap: 10px;
  }