.header{
    height: 34vw;
    margin: 10vh 0 19vh 0;
    background: url('../../assets/header_img.jpg') no-repeat ;
    background-size: cover;
    position: relative;
    transform: scale(1.25);

    
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
    
    background-color: rgba(124, 14, 14, 0.1); /* Lightly transparent background */
    backdrop-filter: blur(3px); /* Adjust the blur intensity */
    border-radius: 10px; /* Optional: gives a smooth rounded edge */
    padding : 10px;
  
}

.header-contents h2{
    font-weight: 500;
    /* color: #FF6F3C; */
    color: white;
    font-size: max(22px,4.2vw);
}
.header-contents p{
    /* font-weight: 500; */
    color: white;
    /* font-size: max(22px,4.5vw); */
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw ,13px);
    border-radius: 50px;
    cursor: pointer;
}
.navbar .logo{
    width: 190px;
}

@media (max-width:1050px){

    .header-contents{
        max-width: 45%;
    }
    .header-contents p{
        display: none;
    }
}

@media (max-width:750px){
 
    .header h2{
       font-size: 5vw;
    }
    .header-contents{
        height: 75%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        /* padding:2vw 4vw; */
    }
    .header{
        height: 50vw;
        margin: 5vh 0 ;
    }
    .navbar .logo{
        width: 120px;
    }
}

